.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fafafa;
    padding: 8px 12px;
    margin-bottom: 16px;
    box-shadow: 0px 1px 7px 0px #fafafa;
}

.logoNavContainer{
    display: flex;
    gap: 16px;
    align-items: center ;
}

.hometitle{
    font-weight: 900;
    font-size: 20px;
}