.searchForm{
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.searchInput{
    outline: none;
    color: rgb(20, 20, 148);
}

.searchButton{
    border: none;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 5px 12px;
    text-align: center;
    color: rgb(20, 20, 148);
    font-weight: 600;
    transition: transform 500ms linear;
}

.searchButton:hover{
    transform: scale(1.05, 1.05)
}