.castListItem{
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.castMemberName{
    font-weight: 600;
}

.castContainer{
    padding: 8px 8px;
    background-color: #fafafa;
    border-radius: 5px;
}

.castImg{
    border-radius: 5px;
}